.header {
    padding: 20px;
    text-align: center;

    .header__title {
        padding-left: 40px;
        font-family: Digital-7Mono;
        font-size: 40px;
    }
    .header__logo {
        height: 100px;
    }
}